<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/whitetextlogo.svg" alt="BAWA logo" class="db w4 center mb4 br0">
		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f3 b lh-title mb1 white">BAWA</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f3 b lh-title mb1 white">Podcast Hosts</h3>
				<ul class="mb3">
					<li><a href="https://twitter.com/josebaxterbaby" class="link" target="_blank">Adam</a></li>
					<li><a href="https://twitter.com/1rhysparsons" class="link" target="_blank">Rhys</a></li>
					<li><a href="https://twitter.com/1rhysparsons" class="link" target="_blank">Bailey</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f3 b lh-title mb2 white">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/Blue-White-Army-262970594243567/?ref=aymt_homepage_panel" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/TheBAWAGroup/" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/TheBAWAGroup/" "svg" "icons-instagram") }}
				</ul>

			</div>

			<div>
				<ul class="mhn2">
					<a href="https://itunes.apple.com/us/podcast/blue-and-white-army/id1443218964?mt=2&uo=4" target="_blank"><img src="/img/applepodcasts.svg" alt="BAWA logo" style="width: 15vw"></a>
				</ul>
				<ul class="mhn2">
					<a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy83YzY4YzE0L3BvZGNhc3QvcnNz" target="_blank"><img src="/img/googlepodcasts.svg" alt="BAWA logo" style="width: 15vw"></a>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
